/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

/* Centraliza a tabela e define uma largura */
table {
  width: 80%; /* Você pode ajustar essa largura */
  margin: 0 auto; /* Define margens laterais como automáticas */
  border-collapse: collapse; /* Une as bordas das células */
}

/* Estilização básica para células */
th, td {
  border: 1px solid #ddd; /* Borda cinza clara */
  padding: 8px; /* Espaçamento interno */
  text-align: left; /* Alinha o texto à esquerda (padrão) */
}

/* Estilização para o cabeçalho */
th {
  background-color: #f2f2f2; /* Cor de fundo leve */
  color: #333;
}
